.navigation__container{
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 15px;
    padding-bottom: 15px;
    position: sticky;
    top: 0px;
    background-color: #FFFFFF;
    transition: background-color 1s ease 0s;
    @media screen and (max-width:980px) {
        padding-left: 60px;
        padding-right: 60px;
    }
    @media screen and (max-width:750px) {
        padding-left: 20px;
        padding-right: 20px;
    }
}
.dark.navigation__container{
    background-color: rgb(12, 12, 13);
    transition: background-color 1s ease 0s;
}


.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
}


.hamBurger{
    display: none;
    @media screen and (max-width:700px) {
        display: block;
        font-size: 25px;
    }
    svg{
        cursor: pointer;
    }
}
.dark .hamBurger{
    svg{
        fill: #FFFFFF;
    }
}


.navigation__logo{
    display: flex;
    align-items: center;
    div{
        width: 60px;
        margin-right: 10px;
    }
    h1{
        font-style: normal;
        font-size: 20px;
        font-weight: 700;
        @media screen and (max-width:700px) {
            display: none;
        }
    }
}
.dark .navigation__logo{
    h1{
        color: #FFFFFF;
    }
}


.navigation__links{
    ul{
        display: flex;
        text-decoration: none;
        list-style-type: none;
        li{
            margin-right: 30px;
        }
        a{
            text-decoration: none;
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            opacity: 0.55;
            color: rgba(0,0,0);
            transition: color 0.2s ease 0s;
            &:hover{
                color: #ffc200;
            }
        }
    }
    @media screen and (max-width:700px) {
        display: none;
    }
}
.dark .navigation__links{
    ul{
        a{
            color: #ffffffb7;
            transition: color 0.2s ease 0s;
            &:hover{
                color: #ffc200;
            }
        }
    }
}


.navigation__icons{
    display: flex;
    div{
        cursor: pointer;
        font-size: 25px;
    }
    @media screen and (max-width:700px) {
        display: none;
    }
}
.dark .navigation__icons{
    svg{
        fill: #FFFFFF;
    }
}


.mobile__navigation_backdrop{
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    padding: 1px;
    background-color: rgba(0,0,0,0.4);
    cursor: pointer;
    z-index: 8;
}
.dark .mobile__navigation_backdrop{
    background-color: rgba(0,0,0,0.7);
}
.mobile__navigation_main{
    margin: 0px;
    margin-right: 0px;
    width: 70vw;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    z-index:9;
    padding-top: 25px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #FFFFFF;
    transition: background-color 1s ease 0s;
    ul{
        text-decoration: none;
        list-style-type: none;
        padding-left: 0px;
        li{
            text-decoration: none;
            margin-bottom: 20px;
        }
        a{
            text-decoration: none;
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            color: rgba(0,0,0,.55);
        }
    }
    .icon{
        font-size: 25px;
        display: flex;
        justify-content: space-between;
        margin-left: auto;
        svg{
            cursor: pointer;
        }
    }
}
.dark .mobile__navigation_main{
    background-color:  rgb(12, 12, 13);
    transition: background-color 1s ease 0s;
    ul{
        a{
            color: #ffffffb7;
            &:hover{
                color: #ffc200;
            }
        }
    }
    .icon{
        svg{
            fill: #FFFFFF;
        }
    }
}