.feedback{
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 1px;
    background-color: #FFFFFF;
    transition: background-color 1s ease 0s;
    min-height: 90vh;
    @media screen and (max-width:980px) {
        padding-left: 60px;
        padding-right: 60px;
    }
    @media screen and (max-width:750px) {
        padding-left: 20px;
        padding-right: 20px;
        flex-direction: column;
    }
    &>h1{
        font-weight: 700;
        font-size: 38px;
        color: #353535;
        transition: color 1s ease 0s;
    }
}
.dark.feedback{
    background-color: rgb(12, 12, 13);
    transition: background-color 1s ease 0s;
    &>h1{
        color: #FFFFFF;
        transition: color 1s ease 0s;
    }
}

.feedback__container{
    display: flex;
}